.com-menu{
  height: 100%;
}

.c-m-title{
  color:#fff;
  font-size: 16px;
  line-height: 48px;
  padding: 0 24px;
}

.icon-zhankai{
  font-size: 12px;
}

.c-m-sub{
  display: none;
  background-color: rgb(0, 0, 0);
}

.c-m-sub.active{
  display: block;
}

.c-m-sub li a{
  display: block;
  font-size: 14px;
  color:rgb(191, 191, 191);
  line-height: 42px;
  padding-left: 48px;
}

.c-m-active{
  display: inline-block;
}

.c-m-sub li:hover{
  color:#fff;
}

li.active{
  background-color: #1890ff;
  color:#fff;
}

.c-m-link{
  display: block;
}